@{
    ViewData["Title"] = "Keşfet";
}

<h2 class="mb-4">Keşfet</h2>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 1</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div><div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div><div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div><div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div><div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 2</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">Başlık 3</h5>
        <p class="card-text">Bu başlık hakkında bazı açıklamalar ve bilgiler burada bulunabilir.</p>
    </div>
</div>
